{
	"useTabs": true,
	"singleQuote": false,
	"printWidth": 100,
	"semi": true,
	"trailingComma": "all",
	"tabWidth": 2,
	"svelteSortOrder": "options-styles-scripts-markup",
    "svelteStrictMode": false,
	"allowShorthand": true,
    "svelteAllowShorthand": false,
    "svelteIndentScriptAndStyle": false,
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss" 
	]
}
